*{
    scroll-behavior: smooth;
}

*::selection {
    background-color: hsl(215deg 28% 38% / 50%);
    color: rgb(255 255 255);
}

::-webkit-scrollbar{
    background-color: rgb(17, 24, 39);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(32, 36, 48);
    width: 2px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(73, 82, 109);
    width: 8px;
}