{% extends 'home/base.html' %}
{% block title %}Sign In{% endblock title %}

{% block body %}
<section class="text-gray-400 bg-gray-900 body-font">
    <form action="/authenticate/sign-in/" method="POST"
        class="container px-5 py-24 mx-auto flex flex-wrap items-center">{% csrf_token %}
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <h1 class="title-font font-black text-4xl text-white">What are you waiting for?</h1>
            <p class="leading-relaxed mt-4">Sign In now to maintain balance in your life. Signing Up doesn't takes your
                money, Its only to make relation with you...</p>
        </div>
        <div
            class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <h2 class="text-white text-lg font-medium title-font mb-5">Sign In</h2>
            <div class="relative mb-4">
                <label for="signInUsername" class="leading-7 text-sm text-gray-400">Username</label>
                <input type="text" autocomplete="username" id="signInUsername" name="signInUsername"
                    class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-yellow-900 rounded border border-gray-600 focus:border-yellow-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                    required>
            </div>
            <div class="relative mb-4">
                <label for="signInPassword" class="leading-7 text-sm text-gray-400">Password</label>
                <input type="password" autocomplete="current-password" id="signInPassword" name="signInPassword"
                    class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-yellow-900 rounded border border-gray-600 focus:border-yellow-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                    required>
            </div>
            <button type="submit"
                class="text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">Sign
                In</button>
            <p class="text-xs mt-3">Doesn't registered yet. <a href="/authenticate/sign-up/"
                    class="text-yellow-500">Sign Up</a> now.</p>
        </div>
    </form>
</section>
{% endblock body %}