{% extends 'home/base.html' %}
{% block title %}Update{% endblock title %}

{% block body %}

<form action="/dashboard/Ledger/Update/{{ encrypt_sno }}/" method="POST" class="text-gray-400 bg-gray-900 body-font relative">
    {% csrf_token %}
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Update</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Edit the following details.</p>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="date" class="leading-7 text-sm text-gray-400">Date</label>
                        <input type="date" id="date" name="date" value="{{ entry.date|date:"Y-m-d" }}"
                            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-blue-500 focus:bg-gray-900 focus:ring-2 focus:ring-blue-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="name" class="leading-7 text-sm text-gray-400">Name</label>
                        <input type="text" id="name" name="name" value="{{entry.name}}"
                            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-blue-500 focus:bg-gray-900 focus:ring-2 focus:ring-blue-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <label class="leading-7 inline-flex items-center text-gray-400 mx-2 my-2">
                            <input type="radio" class="form-radio h-4 w-4" value="debit" id="debit" name="debitCredit" {% if entry.debitCredit == "debit" %}checked{% endif %}>
                            <span class="ml-2">Debit</span>
                        </label>
                        <label class="leading-7 inline-flex items-center text-gray-400 mx-2 my-2">
                            <input type="radio" class="form-radio h-4 w-4" value="credit" id="credit" name="debitCredit" {% if entry.debitCredit == "credit" %}checked{% endif %}>
                            <span class="ml-2">Credit</span>
                        </label>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="particular" class="leading-7 text-sm text-gray-400">Particular</label>
                        <textarea id="particular" name="particular"
                        class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-blue-500 focus:bg-gray-900 focus:ring-2 focus:ring-blue-900 h-24 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" maxlength="300">{{ entry.particular }}</textarea>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="amount" class="leading-7 text-sm text-gray-400">Amount (in &#x20b9;)</label>
                        <input type="number" id="amount" name="amount" value="{{ entry.amount }}"
                            class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-blue-500 focus:bg-gray-900 focus:ring-2 focus:ring-blue-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" min="0">
                            <!-- Redirector is here in hidden input tag -->
                        <input type="hidden" name="redirect" value="{{ redirect_to }}"> 
                    </div>
                </div>
                <div class="p-2 w-full flex justify-center items-center">
                    <button type="submit" class="mx-1 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Submit</button>
                    <a href="{{ redirect_to }}" class="mx-1 text-white bg-gray-700 border-0 py-2 px-8 focus:outline-none hover:bg-gray-800 rounded text-lg" >Cancel</a>
                </div>
                
            </div>
        </div>
    </div>
</form>
{% endblock body %}